<div id="community-feed" class="flex-list">
{{range .HackforgerFeeds}}
	<div class="flex-item">
		<div class="flex-item-leading">
			{{ctx.AvatarUtils.Avatar .ActUser 32}}
		</div>
		<div class="flex-item-main tw-gap-2">
			<div>
				{{if .ActUser}}
					<a href="{{AppSubUrl}}/{{(.ActUser.Name) | PathEscape}}" title="{{.ActUser.GetDisplayName}}">{{.ActUser.GetDisplayName}}</a>
				{{end}}
				{{if eq .OpType 30}}{{ctx.Locale.Tr "hackforger.feed.hackathon_created" .EntityName (HackforgerEntityURL .EntityType .EntitySlug)}}
				{{else if eq .OpType 31}}{{ctx.Locale.Tr "hackforger.feed.hackathon_registered" .EntityName (HackforgerEntityURL .EntityType .EntitySlug)}}
				{{else if eq .OpType 32}}{{ctx.Locale.Tr "hackforger.feed.hackathon_submitted" .EntityName (HackforgerEntityURL .EntityType .EntitySlug)}}
				{{else if eq .OpType 33}}{{ctx.Locale.Tr "hackforger.feed.hackathon_scored" .EntityName (HackforgerEntityURL .EntityType .EntitySlug)}}
				{{else if eq .OpType 34}}{{ctx.Locale.Tr "hackforger.feed.bounty_created" .EntityName (HackforgerEntityURL .EntityType .EntitySlug)}}
				{{else if eq .OpType 35}}{{ctx.Locale.Tr "hackforger.feed.bounty_claimed" .EntityName (HackforgerEntityURL .EntityType .EntitySlug)}}
				{{else if eq .OpType 36}}{{ctx.Locale.Tr "hackforger.feed.bounty_delivered" .EntityName (HackforgerEntityURL .EntityType .EntitySlug)}}
				{{else if eq .OpType 37}}{{ctx.Locale.Tr "hackforger.feed.bounty_completed" .EntityName (HackforgerEntityURL .EntityType .EntitySlug)}}
				{{else if eq .OpType 38}}{{ctx.Locale.Tr "hackforger.feed.bounty_winners_selected" .EntityName (HackforgerEntityURL .EntityType .EntitySlug)}}
				{{else if eq .OpType 39}}{{ctx.Locale.Tr "hackforger.feed.grant_round_created" .EntityName (HackforgerEntityURL .EntityType .EntitySlug)}}
				{{else if eq .OpType 40}}{{ctx.Locale.Tr "hackforger.feed.grant_project_submitted" .EntityName (HackforgerEntityURL .EntityType .EntitySlug)}}
				{{else if eq .OpType 41}}{{ctx.Locale.Tr "hackforger.feed.grant_awarded" .EntityName (HackforgerEntityURL .EntityType .EntitySlug)}}
				{{else if eq .OpType 42}}{{ctx.Locale.Tr "hackforger.feed.credits_redeemed"}}
				{{else if eq .OpType 43}}{{ctx.Locale.Tr "hackforger.feed.bounty_paid" .EntityName (HackforgerEntityURL .EntityType .EntitySlug)}}
				{{else if eq .OpType 50}}{{ctx.Locale.Tr "hackforger.feed.hackathon_phase_changed" .EntityName (HackforgerEntityURL .EntityType .EntitySlug)}}
				{{else if eq .OpType 51}}{{ctx.Locale.Tr "hackforger.feed.hackathon_finalized" .EntityName (HackforgerEntityURL .EntityType .EntitySlug)}}
				{{else if eq .OpType 52}}{{ctx.Locale.Tr "hackforger.feed.bounty_expired" .EntityName (HackforgerEntityURL .EntityType .EntitySlug)}}
				{{else if eq .OpType 53}}{{ctx.Locale.Tr "hackforger.feed.bounty_cancelled" .EntityName (HackforgerEntityURL .EntityType .EntitySlug)}}
				{{else if eq .OpType 54}}{{ctx.Locale.Tr "hackforger.feed.grant_round_opened" .EntityName (HackforgerEntityURL .EntityType .EntitySlug)}}
				{{else if eq .OpType 55}}{{ctx.Locale.Tr "hackforger.feed.grant_round_closed" .EntityName (HackforgerEntityURL .EntityType .EntitySlug)}}
				{{else if eq .OpType 56}}{{ctx.Locale.Tr "hackforger.feed.grant_round_finalized" .EntityName (HackforgerEntityURL .EntityType .EntitySlug)}}
				{{else if eq .OpType 57}}{{ctx.Locale.Tr "hackforger.feed.grant_round_cancelled" .EntityName (HackforgerEntityURL .EntityType .EntitySlug)}}
				{{end}}
				{{DateUtils.TimeSince .CreatedUnix}}
			</div>
		</div>
		<div class="flex-item-trailing">
			{{svg (HackforgerActionIcon .OpType) 32 "text grey tw-mr-1"}}
		</div>
	</div>
{{end}}
{{template "base/paginate" .}}
</div>
