<div class="tw-mt-4">
	<div class="ui segment">
		<div class="tw-flex tw-items-center tw-gap-4 tw-mb-4">
			<div class="ui large label {{if eq .Reputation.Tier "Diamond"}}purple{{else if eq .Reputation.Tier "Gold"}}yellow{{else if eq .Reputation.Tier "Silver"}}grey{{else}}brown{{end}}">
				{{svg "octicon-star" 16}} {{.Reputation.Tier}}
			</div>
			<div class="tw-text-2xl tw-font-bold">
				{{.Reputation.Score}} {{ctx.Locale.Tr "hackforger.reputation.score"}}
			</div>
		</div>
		<table class="ui celled table">
			<thead>
				<tr>
					<th>{{ctx.Locale.Tr "hackforger.reputation.tier"}}</th>
					<th>{{ctx.Locale.Tr "hackforger.reputation.score"}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{svg "octicon-gift" 14}} {{ctx.Locale.Tr "hackforger.reputation.bounties_completed"}}</td>
					<td>{{.Reputation.BountiesCompleted}}</td>
				</tr>
				<tr>
					<td>{{svg "octicon-rocket" 14}} {{ctx.Locale.Tr "hackforger.reputation.hackathon_wins"}}</td>
					<td>{{.Reputation.HackathonWins}}</td>
				</tr>
				<tr>
					<td>{{svg "octicon-heart" 14}} {{ctx.Locale.Tr "hackforger.reputation.grants_received"}}</td>
					<td>{{.Reputation.GrantsReceived}}</td>
				</tr>
				<tr>
					<td>{{svg "octicon-star" 14}} {{ctx.Locale.Tr "hackforger.reputation.total_stars"}}</td>
					<td>{{.Reputation.TotalStars}}</td>
				</tr>
				<tr>
					<td>{{svg "octicon-credit-card" 14}} {{ctx.Locale.Tr "hackforger.reputation.credits_earned"}}</td>
					<td>{{.Reputation.TotalCreditsEarned}}</td>
				</tr>
			</tbody>
		</table>
		<a href="{{AppSubUrl}}/explore/reputation" class="ui button">
			{{ctx.Locale.Tr "hackforger.reputation.leaderboard"}}
		</a>
	</div>
</div>
