{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content dashboard feeds">
	{{template "user/dashboard/navbar" .}}
	<div class="ui container flex-container">
		<div class="flex-container-main">
			{{template "base/alert" .}}
			{{template "user/heatmap" .}}
			<div class="ui secondary pointing menu">
				<a class="{{if ne .FeedType "community"}}active {{end}}item" href="?feed=code">
					{{svg "octicon-code"}} {{ctx.Locale.Tr "hackforger.feed.code"}}
				</a>
				<a class="{{if eq .FeedType "community"}}active {{end}}item" href="?feed=community">
					{{svg "octicon-people"}} {{ctx.Locale.Tr "hackforger.feed.community"}}
				</a>
			</div>
			{{if eq .FeedType "community"}}
				{{if .HackforgerFeeds}}
					{{template "hackforger/feed/community_feeds" .}}
				{{else}}
					<div class="tw-py-8 tw-text-center text grey">
						{{ctx.Locale.Tr "hackforger.feed.community_empty"}}
					</div>
				{{end}}
			{{else}}
				{{if .Feeds}}
					{{template "user/dashboard/feeds" .}}
				{{else}}
					{{template "user/dashboard/guide" .}}
				{{end}}
			{{end}}
		</div>
		{{template "user/dashboard/repolist" .}}
	</div>
</div>
{{template "base/footer" .}}
