{{if .BountyBadge}}
<span class="hf-badge hf-badge-green tw-ml-1" title="{{ctx.Locale.Tr "hackforger.bounty.badge.bounty"}}">
	{{svg "octicon-gift" 12}} {{ctx.Locale.Tr "hackforger.bounty.badge.bounty"}}
</span>
{{end}}
