<overflow-menu class="ui secondary pointing tabular top attached borderless menu secondary-nav">
	<div class="overflow-menu-items tw-justify-center">
		<a class="{{if .PageIsExploreRepositories}}active {{end}}item" href="{{AppSubUrl}}/explore/repos">
			{{svg "octicon-repo"}} {{ctx.Locale.Tr "explore.repos"}}
		</a>
		{{if not .UsersPageIsDisabled}}
			<a class="{{if .PageIsExploreUsers}}active {{end}}item" href="{{AppSubUrl}}/explore/users">
				{{svg "octicon-person"}} {{ctx.Locale.Tr "explore.users"}}
			</a>
		{{end}}
		{{if not .OrganizationsPageIsDisabled}}
		<a class="{{if .PageIsExploreOrganizations}}active {{end}}item" href="{{AppSubUrl}}/explore/organizations">
			{{svg "octicon-organization"}} {{ctx.Locale.Tr "explore.organizations"}}
		</a>
		{{end}}

		{{if and (not $.UnitTypeCode.UnitGlobalDisabled) .IsRepoIndexerEnabled (not .CodePageIsDisabled)}}
		<a class="{{if .PageIsExploreCode}}active {{end}}item" href="{{AppSubUrl}}/explore/code">
			{{svg "octicon-code"}} {{ctx.Locale.Tr "explore.code"}}
		</a>
		{{end}}
		<a class="{{if .PageIsExploreHackathons}}active {{end}}item" href="{{AppSubUrl}}/explore/hackathons">
			{{svg "octicon-rocket"}} {{ctx.Locale.Tr "hackforger.explore.hackathons"}}
		</a>
		<a class="{{if .PageIsExploreBounties}}active {{end}}item" href="{{AppSubUrl}}/explore/bounties">
			{{svg "octicon-gift"}} {{ctx.Locale.Tr "hackforger.explore.bounties"}}
		</a>
		<a class="{{if .PageIsExploreGrants}}active {{end}}item" href="{{AppSubUrl}}/explore/grants">
			{{svg "octicon-heart"}} {{ctx.Locale.Tr "hackforger.explore.grants"}}
		</a>
		<a class="{{if .PageIsExploreSubmissions}}active {{end}}item" href="{{AppSubUrl}}/explore/submissions">
			{{svg "octicon-file-code"}} {{ctx.Locale.Tr "hackforger.explore.submissions"}}
		</a>
	</div>
</overflow-menu>
